In [2]:
print('My name is {}.This is my first day for Data Modelling Training.'.format('Bishal Ghosh'))

My name is Bishal Ghosh.This is my first day for Data Modelling Training.

In [4]:
a=10
b=10
print('the sum of {} and {} is {}.'.format(a,b,a+b))

the sum of 10 and 10 is 20.

In [5]:
a=3
id(a),type(a),3

(140171696059584, int, 3)

In [6]:
a=10
b=2
a+b , a-b , a*b , a/b

(12, 8, 20, 5.0)

In [7]:
tupple_a=(4,'bishal','E','Y')
tupple_a

(4, 'bishal', 'E', 'Y')

In [8]:
4 in tupple_a

True

In [9]:
'Ghosh' in tupple_a

False

In [10]:
int(True),int(False)

(1, 0)

In [11]:
tuple_ey = ('Bishal Ghosh',22,'EY',4)
tuple_ey

('Bishal Ghosh', 22, 'EY', 4)

In [12]:
list=[]
list=[2,'bishal','ey']
list

[2, 'bishal', 'ey']

In [13]:
dict_a={1:'Bishal',2:'Ghosh',3:'EY',4:5}
dict_a

{1: 'Bishal', 2: 'Ghosh', 3: 'EY', 4: 5}

In [14]:
list.append('New Joinee')

In [15]:
list

[2, 'bishal', 'ey', 'New Joinee']

In [16]:
list_2=['college',2023,'passout']
list_2

['college', 2023, 'passout']

In [17]:
list.append(list_2)

In [18]:
list

[2, 'bishal', 'ey', 'New Joinee', ['college', 2023, 'passout']]

In [19]:
set={1,2,3,4,5}
set

{1, 2, 3, 4, 5}

In [21]:
set

{1, 2, 3, 4, 5}

In [24]:
list2 = ['cat', 'bat', 'mat', 'cat', 'pet']
list2.index('bat')

1

In [27]:
my_dictionary={'key1' : { 'subkey1' : [23,24,25],'subkey2' :[20,24,29], 'subkey3':[25,28,35]
                        },'key2' : {'subkey1': [-23,-24,-25], 'subkey2':[-20,-24,-29]},'key3': [('Ravi','Mahesh','Mary','Johnson'),([(23,29),(45,90)],('Doctor','Engineer'))]}

In [31]:
max_avg = -float('inf') 
max_avg_subkey = None

for subkey, values in my_dictionary['key1'].items():
    avg = sum(values) / len(values)
    if avg > max_avg:
        max_avg = avg
        max_avg_subkey = subkey

print("Subkey in 'key1' with the max average:", max_avg_subkey)
print("Maximum average:", max_avg)

Subkey in 'key1' with the max average: subkey3
Maximum average: 29.333333333333332

In [32]:
subkey2_sum = sum(my_dictionary['key2']['subkey2'])
print("Sum of 'subkey2' in 'key2':", subkey2_sum)

Sum of 'subkey2' in 'key2': -73

In [33]:
last_name = my_dictionary['key3'][0][-1]  
last_character = last_name[-1]  
print("Last character of the last name:", last_character)

Last character of the last name: n

In [35]:
last_element = my_dictionary['key3'][1][0][-1] 
last_element

(45, 90)

In [36]:
string = "Engineer"
fourth_letter = string[3]
print("The fourth letter of 'Engineer' is:", fourth_letter)

The fourth letter of 'Engineer' is: i