In [1]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
x[0:9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
x[10:1]

[]

In [4]:
x[-1:-9]

[]

In [5]:
x[-9:-1]

[2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
x[-10:-1]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
x[-1:1]

[]

In [8]:
x[-1:-10]

[]

In [9]:
x[10:1]

[]

In [10]:
x[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [11]:
x[-5:]

[6, 7, 8, 9, 10]

In [12]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
#1 . what is the output of the following code ? Ans - ERROR as Var3 is a string type variable 
var1 = 1
var2 = 2
var3 = "3"

print(var1 + var2 + var3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [16]:
#2. What is the output of the following code?

valueOne = 5 ** 2
valueTwo = 5 ** 3

print(valueOne)
print(valueTwo)

25
125

In [17]:
#3. What is the output of the following?

x = 36 / 4 * (3 +  2) * 4 + 2
print(x)

182.0

In [20]:
#4. What is the output of the following code?

var= "James Bond"
print(var[2::-1])

maJ

In [21]:
#5. What is the output of the following code?

p, q, r = 10, 20 ,30
print(p, q, r)

10 20 30

In [22]:
#6. What is the output of the following code?

str = "pynative"
print (str[1:3])

yn

In [23]:
#7. What is the output of the following code? Ans:- ERROR. add keyword takes only one argument.

sampleSet = {"Jodi", "Eric", "Garry"}
sampleSet.add(1, "Vicki")
print(sampleSet)

TypeError: add() takes exactly one argument (2 given)

In [24]:
#8. What is the output of the following code? Ans:- append keyword only takes single argument.

sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.append(2, "Scott")
print(sampleList)

TypeError: append() takes exactly one argument (2 given)

In [25]:
#9. What is the output of the following code?

var = "James" * 2  * 3
print(var)

JamesJamesJamesJamesJamesJames

In [26]:
#10. What is the output of the following code? ANs: Equals checks if the values in the lists are same or not .Is checks if they are in same memory.

listOne = [20, 40, 60, 80]
listTwo = [20, 40, 60, 80]
print(listOne == listTwo)
print(listOne is listTwo)

True
False

In [28]:
#10. What would be the output of the following 

L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[-7:-2])

['c', 'd', 'e', 'f', 'g']

In [30]:
#11. What would be the output of the following

L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[6:1:-2])

['g', 'e', 'c']

In [31]:
#12. What is the following code doing ?

L = ['a', 'b', 'c', 'd', 'e']
L[1:2] = [1, 2, 3]
print(L)

['a', 1, 2, 3, 'c', 'd', 'e']

In [34]:
my_list=['python','java','c','c++','django']
for index in range(len(my_list)):
    print(index,my_list[index])

0 python
1 java
2 c
3 c++
4 django

In [35]:
for index,language in enumerate(my_list):
    print(index,language)

0 python
1 java
2 c
3 c++
4 django

In [ ]:
'''
1. Create a list of 10 employees
2. Create tuple of salaries of these 10 employees 
3. Create a tuple of rating of these 10 employees (0-10)
4. Generate a dictionary of employees and their new salaries based on their ratings
The update to salaries should be as
a. For rating 0-3 no salaries should be updated
b. For rating 3 - 5 a 3% increment to be given
c. For rating 5 - 7 a 5% increment to be given 
d. For rating 7-9 a 7% increment to be given
e. For rating 9 and above a 7% increment and a bonus of 10% of initial salary to be given

In [44]:
employee = ['John', 'Mary', 'Krishna', 'Namesh', 'Aastha', 'Jason', 'Kavita', 'Ravi', 'Shruti', 'Shubham']
print('employee: {}'.format(len(employee)))
salaries = (10000, 12000, 13000, 18500, 11000, 19800, 20000, 23500, 19450, 8000)
print('salaries: {}'.format(len(salaries)))
ratings = (2.3, 4.7, 4.3, 9.9, 8.4, 6.1, 6.1, 4.0, 8.8, 9.3)
print('ratings : {}'.format(len(ratings)))

employee: 10
salaries: 10
ratings : 10

In [54]:
employee = ['John', 'Mary', 'Krishna', 'Namesh', 'Aastha', 'Jason', 'Kavita', 'Ravi', 'Shruti', 'Shubham']
salaries = [10000, 12000, 13000, 18500, 11000, 19800, 20000, 23500, 19450, 8000]
ratings = [2.3, 4.7, 4.3, 9.9, 8.4, 6.1, 6.1, 4.0, 8.8, 9.3]

# Define a function to calculate new salaries based on ratings
def calculate_new_salary(rating, current_salary):
    if rating < 3:
        return current_salary
    elif 3 <= rating < 5:
        return current_salary * 1.03  # 3% increment
    elif 5 <= rating < 7:
        return current_salary * 1.05  # 5% increment
    elif 7 <= rating < 9:
        return current_salary * 1.07  # 7% increment
    else:
        return current_salary * 1.07 + 0.10 * current_salary  # 7% increment and 10% bonus

# Create a dictionary with updated salaries
employee_salaries = {name: calculate_new_salary(rating, salary) for name, rating, salary in zip(employee, ratings, salaries)}

# Print the resulting dictionary
print(employee_salaries)

[2.3, 4.7, 4.3, 9.9, 8.4, 6.1, 6.1, 4.0, 8.8, 9.3]
{'John': 10000, 'Mary': 12360.0, 'Krishna': 13390.0, 'Namesh': 21645.0, 'Aastha': 11770.0, 'Jason': 20790.0, 'Kavita': 21000.0, 'Ravi': 24205.0, 'Shruti': 20811.5, 'Shubham': 9360.0}

In [46]:
def calling_a_function():
    a=int(input('enter a number a :'))
    b=int(input('enter a number b :'))
    if b==0:
        print("division not possible")
    else:
        print(a/b)

In [47]:
calling_a_function()

enter a number a : 10
enter a number b : 2

5.0

In [48]:
calling_a_function()

enter a number a : 10
enter a number b : 0

division not possible

In [ ]:
'''Write function that takes in 4 list of strings and returns 4 list of length of maximum string

Example : list1 = ['book', 'man', 'woman']
          list2 = ['character', 'python', 'location', 'green']
          list3 = ['python', 'mumbai', 'melbourne']
          list4 = ['parliament', 'sport', 'ecommerce']
          
func1(list1, list2, list3, list4) ->  [5, 9, 9, 10]

Once you get the list call another function which normalizes the list

In [7]:
def func1(list1, list2, list3, list4):

    max_length_list1 = max(len(s) for s in list1)
    max_length_list2 = max(len(s) for s in list2)
    max_length_list3 = max(len(s) for s in list3)
    max_length_list4 = max(len(s) for s in list4)
    
    # Return a list of the maximum string length
    return [max_length_list1, max_length_list2, max_length_list3, max_length_list4]

def func2(max_lengths):
    # Calculate the sum of the maximum lengths
    total = sum(max_lengths)
    
    # Normalize the list by dividing each value by the total
    normalized = [length / total for length in max_lengths]
    
    return normalized

list1 = ['book', 'man', 'woman']
list2 = ['character', 'python', 'location', 'green']
list3 = ['python', 'mumbai', 'melbourne']
list4 = ['parliament', 'sport', 'ecommerce']

max_lengths = func1(list1, list2, list3, list4)
normalized_lengths = func2(max_lengths)

print(max_lengths)  # [5, 9, 9, 10]
print(normalized_lengths)  # [5/33, 9/33, 9/33, 10/33]

[5, 9, 9, 10]
[0.15151515151515152, 0.2727272727272727, 0.2727272727272727, 0.30303030303030304]

In [9]:
for i in range(6):
    print('*')

*
*
*
*
*
*

In [17]:
print('\n bishal'*3)

 bishal
 bishal
 bishal

In [20]:
def pattern1(n):
    for i in range(1,n+1):
        print('*'*i)
    
n=5  
pattern1(n)

*
**
***
****
*****

In [23]:
def print_asterisk_pattern(n):
    for i in range(1, n + 1):
        spaces = ' ' * (n - i)
        asterisks = '*' * (2 * i - 1)
        print(spaces + asterisks)

n = 5
print_asterisk_pattern(n)

    *
   ***
  *****
 *******
*********

In [24]:
def print_asterisk_pattern(n):
    for i in range(n):
        if i == 0 or i == n - 1:
            print('* ' * n)
        else:
            print('*' + ' ' * (2 * n - 3) + '*')
n = 5
print_asterisk_pattern(n)

* * * * *
*       *
*       *
*       *
* * * * *

In [26]:
from datetime import datetime

def is_divisible_by_2(year):
    digit_sum = sum(int(digit) for digit in str(year))
    return digit_sum % 2 == 0

def print_years_with_divisible_digits(birth_year):
    current_year = datetime.now().year
    for year in range(birth_year, current_year + 1):
        if is_divisible_by_2(year):
            print(year)


your_birth_year = 2001
print(f"Years since {your_birth_year} with digits divisible by 2:")
print_years_with_divisible_digits(your_birth_year)

Years since 2001 with digits divisible by 2:
2002
2004
2006
2008
2011
2013
2015
2017
2019
2020
2022